nav {
	display: flex;
	background: $green;
	min-width: 100px;
	text-align: center;

	ul {
		padding: 0px;
		margin: 0px;
		width: 100%;
		position: relative;
	}

	li {
		list-style: none;
		padding: 15px 10px;
		transition: background 0.1s ease-in;
		

		&:hover:not(:first-child) {
			background: $dark-green;
			cursor: pointer;

			button {
				color: #fff;
			}
		}

		&:last-child {
			position: absolute;
			bottom: 15px;
			left: 50%;
			box-sizing: border-box;
			width: 100%;
			transform: translateX(-50%);
		}

		h1 {
			font-family: $neucha;
			font-size: 3em;
			color: white;
			margin-top: 10px;
			margin-bottom: 100px;
		}

		button {
			border: none;
			background: transparent;
			font-size: 2em;
			color: #ddd;
			transition: color 0.1s ease-in;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

