.column {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100% !important;
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.space-between {
	justify-content: space-between;
}
